<head>
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .main-contant{
            width: 800px;
        }
        #quote{
            height: 100px;
        }
        .button1{
            display: inline-block;
        }
        .button2{
            display: inline-block;
        }
    </style>
</head>
<body style="background-color: rgb(160, 157, 157);">
    <form action="/quotes" method="POST">
        <div class="container"; align = "center">
            <h1>Welcome To Quoting App</h1>
            <div class="main-contant">
                <h3>Your name:<input name="name" type="text"></h3>
                <h3>Your quote:<input name="notName" id="quote" type="text"></h3>
            </div>
            <div class="button1">
                <button>Add Quote</button>
            </div>
        </div>
    </form>
        <div class="container"; align = "center">
            <div class="button2">
                <button>Skip to quotes</button>
            </div>
        </div>
</body>

