<html>
<body>
<div class="hea" style="margin-left: 700px;font-size: 200%;">
    <h1>The Dogs</h1>
</div>
<div class="main_contant">
    <div class="raw">
        <a href="/dogs_info"><img src="/images/dog.jpg" alt="Opps"></a>
        <a href="/dogs_info"><img src="/images/dog.jpg" alt="Opps"></a>
        <a href="/dogs_info"><img src="/images/dog.jpg" alt="Opps"></a>
        <a href="/dogs_info"><img src="/images/dog.jpg" alt="Opps"></a>
        <a href="/dogs_info"><img src="/images/dog.jpg" alt="Opps"></a>
        <a href="/dogs_info"><img src="/images/dog.jpg" alt="Opps"></a>
        <a href="/dogs_info"><img src="/images/dog.jpg" alt="Opps"></a>
        <a href="/dogs_info"><img src="/images/dog.jpg" alt="Opps"></a>
        <a href="/dogs_info"><img src="/images/dog.jpg" alt="Opps"></a>
    </div>
</div>
</body>
</html>