<div class="header">
    <h1 style="font-size: 200%;margin-left: 700px;">Dog Name Here</h1>
</div>
<div class="photo" style="margin-left: 500px;">
    <h1><img src="/images/dog.jpg" alt="Opps"></h1>
</div>
<div class="disc">
    <h1>Disc Here</h1>
</div>