.h_t{
    margin-left: 100px;
    display: inline-block;
    font-size: 150%;
}
.h_o{
    display: inline-block;
}
.container{
    padding-top: 100px;
    display: inline-block;
    width: 500px;
    margin-left: 300px;
}
.contner{
    padding-top: 100px;
    display: inline-block;
    vertical-align: top;
}

*{
    font-family: Georgia, serif;
}
body{  
    height: 1000px; 
    background-image: linear-gradient(to top, rgb(163, 163, 163), #343A40);
}
.btn{
    margin-left:20px;
}