<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cakes</title>
</head>
<body>
  <div class="content" role="main">
    <h1 >{{text}}</h1>
    <h1>Hello</h1>
    <p *ngFor="let snack of snacks">{{snack}}</p>

    <h1>Third task</h1>
    <p>{{snacks[2]}}</p>
    <button (click)="onButtonClickParam(5)">Click me!</button>
    <div>
      <p *ngFor="let car of cars"> 
        {{car}}
        <button (click)="infoButtom(car)">Info</button>
      </p>
      <p>{{cars_info}}</p>
    </div>
  </div>
</body>
</html>